<table mat-table [dataSource]="dataSource" class="mat-elevation-z2 full-width">

  <!-- עמודת צ'קבוקס -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="toggleAll($event)"
        [checked]="isAllSelected()"
        [indeterminate]="isPartialSelected()"
      ></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (change)="toggleRow(row)"
        [checked]="selection.includes(row)"
      ></mat-checkbox>
    </td>
  </ng-container>
<!-- עמודות של הנתונים בטבלה -->
  <ng-container matColumnDef="misparMosah">
    <th mat-header-cell *matHeaderCellDef>מספר מוסך</th>
    <td mat-cell *matCellDef="let g">{{ g.misparMosah }}</td>
  </ng-container>

  <ng-container matColumnDef="shemMosah">
    <th mat-header-cell *matHeaderCellDef>שם מוסך</th>
    <td mat-cell *matCellDef="let g">{{ g.shemMosah }}</td>
  </ng-container>

  <ng-container matColumnDef="sugMosah">
    <th mat-header-cell *matHeaderCellDef>סוג</th>
    <td mat-cell *matCellDef="let g">{{ g.sugMosah }}</td>
  </ng-container>

  <ng-container matColumnDef="ktovet">
    <th mat-header-cell *matHeaderCellDef>כתובת</th>
    <td mat-cell *matCellDef="let g">{{ g.ktovet }}</td>
  </ng-container>

  <ng-container matColumnDef="yishuv">
    <th mat-header-cell *matHeaderCellDef>יישוב</th>
    <td mat-cell *matCellDef="let g">{{ g.yishuv }}</td>
  </ng-container>

  <ng-container matColumnDef="telephone">
    <th mat-header-cell *matHeaderCellDef>טלפון</th>
    <td mat-cell *matCellDef="let g">{{ g.telephone }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="dataSource.data.length === 0" class="empty">
  אין נתונים להצגה
</div>
