.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.loader-box {
  background: white;
  padding: 30px 40px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

.loader-box p {
  margin-top: 15px;
  font-size: 18px;
  color: #3f51b5;
  font-weight: 600;
}
